####################################
# Backend - .NET
####################################
**/bin/
**/obj/

*.dll
*.exe
*.pdb
*.cache

####################################
# NuGet
####################################
*.nupkg
project.assets.json
project.nuget.cache

####################################
# Frontend - Node / Vite
####################################
node_modules/
dist/

####################################
# Logs
####################################
logs/
*.log

####################################
# Environment variables
####################################
.env
.env.*

####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
.vscode/
.idea/
